.hero-container {
    background-image: url('/fondo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    transform: rotate(180deg);
}